@each $color, $value in $theme-colors {
    .alert-#{$color} {
        color: color-contrast($value);
        //    @if (contrast-ratio($alert-background, $alert-color) < $min-contrast-ratio) {
        //        $alert-color: mix($value, color-contrast($alert-background), abs($alert-color-scale));
        //    }

        background-color: $value;
    }
}

.alert-secondary {
    border: 1px solid #e0e5e9;
}
