.badge {
  line-height: $line-height-base;

  &-primary {
    background-color: mix($primary, white, 10%);
    color: $primary;
  }

  &-success {
    background-color: mix($success, white, 10%);
    color: $success;
  }

  &-danger {
    background-color: mix($danger, white, 10%);
    color: $danger;
  }

  &-warning {
    background-color: mix($warning, white, 10%);
    color: $warning;
  }

  &-info {
    background-color: mix($info, white, 10%);
    color: $info;
  }

  &-light {
    background-color: $body-bg;
    color: $dark;
  }

  &-cyan {
    background-color: $cyan;
    color: $dark;
  }

  &-pink {
    background-color: $pink;
    color: $dark;
  }

  &-salmon {
    background-color: $salmon;
    color: $dark;
  }
}
