.badge {
  line-height: $line-height-base;

  &-primary {
    background-color: mix($primary, white, 10%);
    color: $primary;
  }

  &-success {
    background-color: mix($success, white, 10%);
    color: $success;
  }

  &-danger {
    background-color: mix($danger, white, 10%);
    color: $danger;
  }

  &-warning {
    background-color: mix($warning, white, 10%);
    color: $warning;
  }

  &-info {
    background-color: mix($info, white, 10%);
    color: $info;
  }
}