.breadcrumb li.breadcrumb-item a {
  text-decoration: underline;
  color: inherit;
}

.breadcrumb li.breadcrumb-item::before {
  font-family: 'Material Icons';
  content: "chevron_right";
  font-weight: 600;
}

.breadcrumb li.breadcrumb-item:nth-child(1)::before {
  text-decoration: underline;
  content: "";
}
