.btn-link {
    font-weight: 500;
}

.btn-icon {
    padding: ($btn-padding-y + $btn-font-size) * 0.5;
    line-height: 0 !important;
    border-radius: 50% !important;
    font-size: $font-size-base;

    &.btn-lg {
        padding: ($btn-padding-y-lg + $btn-font-size-lg) * 0.5;
        font-size: $font-size-lg;
    }

    &.btn-sm {
        padding: ($btn-padding-y-sm + $btn-font-size-sm) * 0.5;
        font-size: $font-size-sm;
    }
}

.btn-primary,
.btn-outline-primary {
    &:hover {
        background-color: $blue;
        border-color: $blue;
    }

    &.disabled,
    &:disabled {
        background-color: $primary;
        border-color: $primary;
    }
}

.btn-secondary {
    color: $dark;
}

.btn-secondary:hover {
    color: #1c1d1f;
    background-color: #f6f7fb;
    border-color: #f6f7fb;
}

.btn-light,
.btn-outline-light {
    color: $dark;
    border: 1px solid $border-color;

    &:not(.disabled):hover {
        color: $dark;
    }
}

.btn-squared {
    border-radius: 5px;
}
