.card-full {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-zoomed {
  margin-left: -20px;
  margin-right: -20px;
}

// Fix the overflow of a table header located at the top of a card.
.card {
  overflow: hidden;
}