[data-bs-toggle='dropdown'] {
    cursor: pointer;
}

.dropdown-toggle {
    font-weight: $btn-font-weight;

    &::after {
        border: none !important;
        font-family: 'Material Icons';
        content: 'expand_more' !important;
        vertical-align: sub;
        line-height: 1;
        margin-left: 0;
    }
}

.show.dropdown-toggle::after {
    content: 'expand_less' !important;
}

.dropdown-divider {
    margin: $dropdown-divider-margin-y $dropdown-item-padding-x;
}

.dropdown-item {
    font-weight: $headings-font-weight;

    &:not(.dropdown-btn).active,
    &:not(.dropdown-btn):active {
        color: inherit;
        background-color: transparent;
        position: relative;

        &::before {
            position: absolute;
            content: ' ';
            background-color: $component-active-bg;
            height: 100%;
            width: 3px;
            left: 0;
            top: 0;
        }
    }

    &.active {
        font-weight: $font-weight-bold;
    }
}

a.dropdown-toggle {
    color: $body-color;

    &:hover,
    &.hover {
        color: $body-emphasis-color;
    }
}

.dropdown-menu {
    box-shadow: $dropdown-box-shadow;
    animation-name: fadeIn;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    &.dropdown-menu-lg {
        min-width: 18rem;
    }
}

.dropdown-toggle.dropdown-no-caret {
    &::after {
        content: none !important;
    }
}
