.form-group {
    label:not(.form-check-label) {
        text-transform: uppercase;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        width: 100%;
        text-align: left;
    }
}

.form-label {
    text-transform: uppercase;
}

.form-check {
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
}

.form-check-input {
    height: $form-check-input-width;
    cursor: pointer;
}

.form-check-label {
    color: $dark;
    vertical-align: middle;
}

.form-switch {
    .form-check-input:not(:checked) {
        background-color: $grayish;
    }
}

.input-group-merge {
    .btn-link {
        position: absolute;
        right: 0;
        font-weight: $btn-font-weight;
        padding: $input-btn-padding-y;
    }
    &.input-group-text {
        z-index: 5;
        border: 0;
        padding: 0;
    }
}

.borderless-input {
    * {
        border: none;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;

        &:focus {
            background-color: transparent;
        }
    }
}

.form-group-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e0e5e9;
    height: 1px;
    &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: $primary;
        opacity: 0;
        transition: opacity 300ms;
    }
}

.form-group-bar.is-warning {
    background-color: $warning;
}

.form-group-bar.is-danger {
    background-color: $danger;
}

.form-control:not(.disabled):focus ~ .form-group-bar::after {
    opacity: 1;
}

.has-search {
    position: relative;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    width: 2.375rem;
    padding: $input-btn-padding-y;
    text-align: center;
    font-size: 24px;
    left: 0;
}

.form-group {
    margin-bottom: 1rem;
}
