.navbar {
    border-bottom: $border-width solid $grayish;

    div[class^='col-'] {
        padding: 0;
    }

    .btn-icon {
        border: $border-width solid rgba(0, 0, 0, 0.3);
        margin-left: 0.75rem;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 7px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }

    .navbar-brand:hover {
        filter: invert(22%) sepia(66%) saturate(3551%) hue-rotate(240deg) brightness(87%) contrast(102%);
        transition:
            color 0.15s ease-in-out,
            background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
    }

    &.navbar-expand-md {
        .nav-item {
            @include media-breakpoint-up(md) {
                &.active a::after {
                    position: absolute;
                    content: ' ';
                    border-bottom: 3px solid $blue-bright;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-right: 1.25rem;
                    margin-left: 1.25rem;
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        .nav-item {
            padding-top: $navbar-nav-link-padding-y - $nav-link-padding-y;
            padding-bottom: $navbar-nav-link-padding-y - $nav-link-padding-y;
        }

        .nav-item.active a::after {
            border-bottom: 2px solid $primary;
            bottom: -0.55rem;
        }

        .nav-link {
            font-weight: normal;
            line-height: 1.5;
            border-radius: $btn-border-radius;
        }
    }
}

.navbar-nav {
    & > li {
        float: left;
        position: relative;
    }

    .nav-item {
        line-height: 1.9;

        &.active {
            .material-icons {
                color: $primary;
            }
        }
    }
}

.nav-link {
    display: flex;
    align-items: center;

    i {
        margin-right: 6px;

        &.material-icons {
            font-size: 18px;
        }
    }
}

@include media-breakpoint-up(md) {
    .navbar:not(.navbar-dark) {
        .nav-link {
            &:hover {
                background-color: $nav-link-hover-background-color;
            }
        }
    }
}
