.popover, .jvm-tooltip {
  border-radius: 10px;
  border: 1px solid #E4E4E4;
  font:inherit;
  box-shadow: 0 15px 30px 0 rgba(1,1,2,.1);

  &.bs-popover-top > .arrow::before,
  &.bs-popover-auto[x-placement^="top"] > .arrow::before {
    border-top-color: #E4E4E4;
  }
}
.popover-header {
  background-color: #FFFFFF;
  border-bottom: none;
  font-size: 15px;
  margin-bottom: 0;
}

.popover-body p {
  font-size: 13px;
}

.jvm-tooltip{
  background-color: #FFFFFF;
  color : #434649;
  .popover-header{
    padding-bottom: 0;
  }
  p{
    margin-bottom: 0;
  }
}