@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.progress-round {
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
    background: $progress-bar-bg;

    .progress-round-bar::before {
        --percentage: var(--value);
        content: '';
        position: absolute;
        top: 7%;
        left: 7%;
        width: 86%;
        height: 86%;
        border-radius: 50%;
        background: conic-gradient($progress-bar-bg calc(var(--percentage) * 1%), $progress-bg 0);
    }
    &-secondary {
        background: $gray-200;

        .progress-round-bar::before {
            background: conic-gradient($progress-bg calc(var(--percentage) * 1%), $gray-600 0);
        }
    }
    &-dark {
        background: $gray-700;

        .progress-round-bar::before {
            background: conic-gradient($gray-700 calc(var(--percentage) * 1%), $progress-bg 0);
        }
    }
}
