.progress-bar-round {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #151344 79%, transparent 80% 100%), conic-gradient(#ffffff 75%, #464470 0);
}
