$stacked-height:            320px;
$stacked-items:             5;
$stacked-translate-spacer:  10px;
$stacked-scale-spacer:      0.05;

.stacked {
  height: $stacked-height;
  display: flex;
  flex-direction: column-reverse;

  .card {
    min-height: $stacked-height;
    max-height: $stacked-height;
    z-index: $stacked-items;
    position: absolute;
    transition: all 0.4s;
    bottom: 0;

    @for $i from 1 through $stacked-items {
      &:nth-child(#{$i+1}) {
        bottom: -$stacked-translate-spacer*$i;
        transform: scaleX(1-($i*$stacked-scale-spacer));
        z-index: $stacked-items - $i;
      }
    }
  }
}