$timeline-padding: 40px;
$timeline-line-border-size: 1px;
$timeline-icon-size: $font-size-lg * 1.5;
$timeline-icon-size-sm: $font-size-lg;
$timeline-icon-size-lg: $font-size-lg * 2;

@mixin timelineLeft($padding, $icon-size, $line-border-size) {
  left: calc((#{$icon-size} / 2) - #{$padding} - #{$line-border-size});
}

ul.timeline {
  position: relative;
  list-style: none;
  padding-left: $timeline-padding;

  & > li {
    display: inline-block;
    width: 100%;
  }

  li:not(:last-child):after {
    content: ' ';
    display: inline-block;
    position: absolute;
    border: $timeline-line-border-size solid $secondary;
    height: 100%;
    @include timelineLeft($timeline-padding, $timeline-icon-size, $timeline-line-border-size);
    top: 0;
    bottom: -3%;
  }

  .timeline-icon {
    position: absolute;
    //border: 1px solid $secondary;
    background-color: white;
    left: -40px;
    color: white;
    border-radius: 50%;
    height: $timeline-icon-size;
    width: $timeline-icon-size;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &:not([class*="bg-"]) {
      border: 1px solid $secondary;
      color: $primary;
    }
  }

  .timeline-item {
    position: relative;
    padding-bottom: 1.5rem;

    .timeline-content {
      position: relative;
    }

    &.active {
      .timeline-icon {
        border: none;
        background-color: $primary;
        color: white;
      }

      &::after {
        border: 1px solid $primary;
      }

    }
  }

  &.timeline-lg {
    .timeline-icon {
      width: $timeline-icon-size-lg;
      height: $timeline-icon-size-lg;
    }

    li:after {
      @include timelineLeft($timeline-padding, $timeline-icon-size-lg, $timeline-line-border-size);
    }
  }

  &.timeline-sm {
    .timeline-icon {
      width: $timeline-icon-size-sm;
      height: $timeline-icon-size-sm;
      font-size: 0.5rem;
    }

    .timeline-item {
      padding-bottom: 0;
    }

    li:after {
      @include timelineLeft($timeline-padding, $timeline-icon-size-sm, $timeline-line-border-size);
    }
  }
}