---
---

@import "weglot/main";

@import "syntax-highlighting";
@import "styleguide";



body
{
  margin:0;
  background:#f4f8fc;
  color:#333;
}

%clearfix, .clearfix
{
  &:after
  {
    content:"";
    display:table;
    clear:both;
  }
}