---
title: Timeline with progression
category: timeline
category_order: 2
---
<div class="row">
    <div class="col">
        <ul class="timeline">
            <li class="timeline-item active">
                <span class="timeline-icon">
                    <i class="material-icons" role="status">done</i>
                </span>
                <h3 class="timeline-content" role="presentation">A successful step</h3>
            </li>
            <li class="timeline-item active">
                <span class="timeline-icon">
                    <i class="material-icons" role="status">done</i>
                </span>
                <h3 class="timeline-content" role="presentation">A step waiting for action</h3>
            </li>
            <li class="timeline-item">
                <span class="timeline-icon disabled">
                    <i class="material-icons" role="status">close</i>
                </span>
                <h3 class="timeline-content" role="presentation">A step with errors</h3>
            </li>
            <li class="timeline-item">
                <span class="timeline-icon disabled" role="status"></span>
                <h3 class="timeline-content" role="presentation">A step not active</h3>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <ul class="timeline timeline-sm">
            <li class="timeline-item active">
                <span class="timeline-icon timeline-icon-sm">
                    <i class="material-icons" role="status">done</i>
                </span>
                <h3 role="presentation">Lorem ipsum dolor sit amet</h3>
            </li>
            <li class="timeline-item active">
                <span class="timeline-icon timeline-icon-sm">
                    <i class="material-icons" role="status">done</i>
                </span>
                <h3 role="presentation">Lorem ipsum dolor sit amet</h3>
            </li>
            <li class="timeline-item">
                <span class="timeline-icon timeline-icon-sm">
                    <i class="material-icons" role="status">more_horiz</i>
                </span>
                <h3 role="presentation">Lorem ipsum dolor sit amet</h3>
            </li>
            <li class="timeline-item">
                <span class="timeline-icon timeline-icon-sm disabled" role="status"></span>
                <h3 role="presentation">Lorem ipsum dolor sit amet</h3>
            </li>
            <li class="timeline-item">
                <span class="timeline-icon timeline-icon-sm disabled" role="status"></span>
                <h3 role="presentation">Lorem ipsum dolor sit amet</h3>
            </li>
        </ul>
    </div>
</div>