---
title: Timeline
category: timeline
category_order: 1
---

<ul class="timeline timeline-xs">
    <li class="timeline-item">
        <span class="timeline-icon timeline-icon-xs bg-danger">
            <i class="material-icons" data-toggle="tooltip" data-original-title="An error occurred while running this action." role="status" aria-label="An error occurred while running this action."> priority_high </i>
        </span>
        <div class="timeline-content">
            <small>This could be a project name</small>
            <h4 role="presentation"> An error occured. </h4>
            <p class="small"> 2023-10-10 11:17 (CEST) </p>
        </div>
    </li>
    <li class="timeline-item">
        <span class="timeline-icon timeline-icon-xs bg-success">
            <i class="material-icons" role="status" aria-label="Success">done</i>
        </span>
        <div class="timeline-content">
            <small>This could be a project name</small>
            <h4 role="presentation"> Action done successfully. </h4>
            <p class="small"> 2023-10-10 11:17 (CEST) </p>
        </div>
    </li>
    <li class="timeline-item">
        <span class="timeline-icon timeline-icon-xs">
            <i class="spinner-border spinner-border-xs" data-toggle="tooltip" data-original-title="This action is running." role="status"></i>
        </span>
        <div class="timeline-content">
            <small>This could be a project name</small>
            <h4 role="presentation"> Something is running... </h4>
            <p class="small"> 2023-10-10 16:05 (CEST) </p>
        </div>
    </li>
</ul>