---
title: Timeline with progression
category: timeline
category_order: 3
---
<ul class="timeline">
    <li class="timeline-item active">
        <span class="timeline-icon">
            <i class="material-icons" role="status">done</i>
        </span>
        <h3 class="timeline-content" role="presentation">A successful step</h3>
    </li>
    <li class="timeline-item active">
        <span class="timeline-icon">
            <i class="material-icons" role="status">done</i>
        </span>
        <h3 class="timeline-content" role="presentation">A step waiting for action</h3>
    </li>
    <li class="timeline-item">
        <span class="timeline-icon disabled">
            <i class="material-icons" role="status">close</i>
        </span>
        <h3 class="timeline-content" role="presentation">A step with errors</h3>
    </li>
    <li class="timeline-item">
        <span class="timeline-icon disabled" role="status"></span>
        <h3 class="timeline-content" role="presentation">A step not active</h3>
    </li>
</ul>