---
title: Timeline with alert
category: timeline
category_order: 4
---
<div class="row">
    <div class="col">
        <ul class="timeline timeline-sm">
            <li class="timeline-item pb-3">
                <span class="timeline-icon" role="status"></span>
                <div class="timeline-content">
                    <div class="alert alert-secondary mb-0 text-dark">
                        Hallo, mein Hübscher!
                    </div>
                    <h4 role="presentation">
                        <small class="text-dark">Mark as reviewed by Jean - de paris '</small>
                        <br>
                        <small>43 seconds ago</small>
                    </h4>
                </div>
            </li>
            <li class="timeline-item pb-3">
                <span class="timeline-icon" role="status"></span>
                <div class="timeline-content">
                    <div class="alert alert-secondary mb-0 text-dark">
                        Hallo, mein Hübscher!
                    </div>
                    <h4 role="presentation">
                        <a class="actions-item float-right">
                            <i class="material-icons" role="img" aria-hidden="true">restore</i>
                        </a>
                        <small class="text-dark">Automatic translation</small>
                        <br>
                        <small>18 days ago</small>
                    </h4>
                </div>
            </li>
            <li class="timeline-item pb-3">
                <span class="timeline-icon" role="status"></span>
                <div class="timeline-content">
                    <div class="alert alert-secondary mb-0 text-dark">
                        Hallo, mein Hübscher!
                    </div>
                    <h4 role="presentation">
                        <a class="actions-item float-right">
                            <i class="material-icons" role="img" aria-hidden="true">restore</i>
                        </a>
                        <small class="text-dark">Automatic translation</small>
                        <br>
                        <small>18 days ago</small>
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>
