---
title: Timeline with progression
category: timeline
category_order: 3
---
<ul class="timeline">
    <li class="timeline-item active">
        <span class="timeline-icon">
            <i class="material-icons" role="status">done</i>
        </span>
        <h3 class="timeline-content" role="presentation">Create your project</h3>
    </li>
    <li class="timeline-item">
        <span class="timeline-icon border-primary text-primary">
            <i class="material-icons" role="status">more_horiz</i>
        </span>
        <h3 class="timeline-content" role="presentation">Configure your languages</h3>
    </li>
    <li class="timeline-item">
        <span class="timeline-icon" role="status"></span>
        <h3 class="timeline-content" role="presentation">Add your website details</h3>
    </li>
    <li class="timeline-item">
        <span class="timeline-icon" role="status"></span>
        <h3 class="timeline-content" role="presentation">Connect Weglot to you site</h3>
    </li>
</ul>