<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description"
          content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon.ico and apple-touch-icon.png in root directory -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2">
            {% include sidebar.html %}
        </div>
        <div class="col-10 sg-content card">
            {{ content }}
        </div>
    </div>
</div>
</body>
</html>