---
title: Large modal
category: modal
---
<div class="bd-example bg-body-tertiary">
    <div class="modal position-static d-block" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-light btn-icon btn-close fs-3 p-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-title">
                    <h1>Title of a modal</h1>
                    <small>Subtitle of a modal - Lorem ipsum dolor</small>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-lg btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
