{% for component in site.pages %}
{% if component.url contains include.url %}
<article class="sg-component">
    <header class="sg-component__header">
        <h2 class="sg-component__title">{{ component.title }}</h2>
    </header>
    <div class="sg-component__body">
        <div class="sg-component__display">
            {{ component.content }}
        </div>
        <div class="sg-component__source">
            {% highlight html %}{{ component.content }}{% endhighlight %}
        </div>
    </div>
</article>
{% endif %}
{% endfor %}