---
title: Progress round
category: progress
category_order: 1
---
<div class="mb-2 p-1">
    <div class="progress-round" style="width: 30px">
        <div class="progress-round-bar" style="--value: 42" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="42"></div>
    </div>    
</div>

<div class="bg-dark p-1 mt-2">
    <div class="progress-round progress-round-secondary" style="width: 30px">
        <div class="progress-round-bar" style="--value: 42" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="42"></div>
    </div>    
</div>