---
title: Progress bar
category: progress
---

<div class="d-flex">
    <div>
        <h3>Current word usage</h3>
        <span class="text-primary">
                147 / 5,000,000
            </span>
    </div>
</div>
<div class="progress mt-1" data-toggle="tooltip" tabindex="0" data-original-title="0%">
    <div class="progress-bar" style="width: 0%" role="progressbar" aria-valuenow="147" aria-valuemin="0"
         aria-valuemax="5000000">
    </div>
</div>
<div class="d-flex">
    <div>
        <h3 class="d-flex align-items-center">
            Translation requests
            <i role="img" tabindex="0"
               aria-label="This is the total monthly number of calls made by every website of your organization to Weglot Translation API. This is approximately equal to the number of translated page views on your website."
               class="material-icons text-black-50 ms-2" data-toggle="tooltip"
               data-original-title="This is the total monthly number of calls made by every website of your organization to Weglot Translation API. This is approximately equal to the number of translated page views on your website.">info</i>
        </h3>
        <span class="text-primary">
                0 / 5,000,000
            </span>
    </div>
</div>
<div class="progress mt-1" data-toggle="tooltip" tabindex="0" data-original-title="0%">
    <div class="progress-bar" style="width: 42%" role="progressbar" aria-valuenow="0" aria-valuemin="0"
         aria-valuemax="5000000"></div>
</div>
<small class="mt-1">Translation requests count resets on the 1st of each month.</small>
