@import '../../node_modules/material-icons/iconfont/filled.scss';
@font-face {
    font-family: "Material Icons";
    src: url('material-icons.woff2'), url('material-icons.woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
