---
title: Bordered
category: bordered
category_order: 1
---
<span class="bordered bordered-primary">Primary</span>
<span class="bordered bordered-secondary">Secondary</span>
<span class="bordered bordered-success">Success</span>
<span class="bordered bordered-danger">Danger</span>
<span class="bordered bordered-warning">Warning</span>
<span class="bordered bordered-info">Info</span>
<span class="bordered bordered-light">Light</span>
<span class="bordered bordered-dark">Dark</span>
<span class="bordered bordered-link">Link</span>
