---
title: Disabled button
category: button
category_order: 4
---
<button type="button" class="btn btn-primary disabled">Primary</button>
<button type="button" class="btn btn-secondary disabled">Secondary</button>
<button type="button" class="btn btn-success disabled">Success</button>
<button type="button" class="btn btn-danger disabled">Danger</button>
<button type="button" class="btn btn-warning disabled">Warning</button>
<button type="button" class="btn btn-info disabled">Info</button>
<button type="button" class="btn btn-light disabled">Light</button>
<button type="button" class="btn btn-dark disabled">Dark</button>
<button type="button" class="btn btn-link disabled">Link</button>
<button type="button" class="btn btn-primary btn-icon disabled"><i class="material-icons">check</i></button>

